body{
    font-family: sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 5%;
    background-color: #a8a8a8;
    color: #3e3e3e;
}

h1{
    font-family: sans-serif;
    font-weight: 400;    
}

.container{
    padding: 4%;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px;
    background-color: #fff;
}

#calc_input{
    padding: 7px;
    font-size: 1.5em;
    color: #4b4b4b;
    width: 275px;
}

.calc_btn{
    padding: 5px;
    width: 2.5em;
    font-size: 1.3em;
    margin: 2px;
    background-color: #eaeaea;
    border: 1px solid #a2a2a2;
    border-radius: 10px;
    cursor: pointer;
}

.calc_btn:hover{
    background-color: #084cb9;
    color: #fff;
}
